{% extends '../base_bs.html' %}


{% block csslink %}
<link rel="stylesheet" href="/assets/bootstrap/css/bs/joinform.css">
<script>
$(function(){
 	 $("#email").change(function(){ //포커스를 다른곳으로 갈때 다시 검사
         $("#img-email").hide();
         $("#btn-email").show();
    });
	console.log('hello world');
	$('#btn-email').click(function(){
		var email = $('#email').val();
		if (email == ''){
			return;
		}
		$.ajax({
            url:"/user/api/checkemail?email="+email,
            type:"get",
            dataType:"json",
            success:function(response){
               console.log(response);
               if(response.result != 'success'){
               		console.error(response.data);
               		return;
               }

               if(response.data == 'exist'){
               		$('#email').val('').focus();
					$('#exist_email').show();
               }else{
             		$('#exist_email').hide();
             		$('#btn-email').hide();
             		$('#img-email').show();
               }
            },
            error:function(xhr,error){//내부에서 통신하고 있는 객체(에러내용 더 자세히 보라)
               console.error("error:"+error);
            },

         });
		console.log(email);
	});
});
</script>
{% endblock %}
{% block content %}
			<div class="container" id="join-container">
				<div class="row" id="join-row">
					<form id="join-form" name="joinForm" method="post" action="/user/join">
						{% csrf_token %}
						<div class="form-group">
							<label class="block-label" for="name">Name</label>
							<input class="form-control" id="name" name="name" type="text" value="">
						</div>
						<div class="form-group" id="email-form">
							<label class="block-label" for="email">Email</label>
							<br>
							<input class="form-control" id="email" name="email" type="text" value="">
							<img src="/assets/images/check.png" alt="" id="img-email" style="display:none;">
							<input class="btn btn-primary" id="btn-email" type="button" value="id 중복체크">
						</div>

						<p style="color:red; display: none;" id="exist_email">
							이미 가입한 이메일입니다.
						</p>
						<div class="form-group">
							<label class="block-label">Password</label>
							<input class="form-control" name="password" type="password" value="">
						</div>

						<div class="form-group" id="gender-form">
							<label class="block-label">Gender</label>
							<div class="radio" id="gender-radio">
									<label class="block-label">
										<input type="radio" name="gender" value="female" checked="checked">
										Female
									</label>
									<label class="block-label">
										<input type="radio" name="gender" value="male">
										Male
									</label>
							</div>
						</div>
						<div class="form-group">
							<label class="block-label">약관동의</label>
							<div class="checkbox">
								<label style="padding:0;">서비스 약관에 동의합니다.</label>
								<input id="agree-prov" type="checkbox" name="agreeProv" value="y" style="margin-left: 10px;">
							</div>
						</div>
						<div class="form-group">
							<input type="submit" c id="join-submit-btn" value="가입하기">
						</div>

					</form>
				</div>
			</div>
{% endblock %}
